<?xml version="1.0"?>
<launch>

<include file="$(find summit_xl_sim_bringup)/launch/summit_xl_gps_complete.launch">
</include>

<include file="$(find summit_xl_localization)/launch/map_server.launch">
    <arg name="map_file" value="real/unitX_map.yaml"/>
	</include>
	
<include file="$(find summit_xl_localization)/launch/navsat_transform_node.launch">
</include> 

<!--arg name="file_name" default="$(find summit_xl_sim_bringup)/config/mega.yaml"/-->
<!--rosparam command="load" file="$(arg file_name)" subst_value="true"/-->

	
<!--node pkg="simple_navigation_goals" name="simple_navigation_goals" type="simple_navigation_goals" output="screen"/--> 
	
<node pkg="tf" type="static_transform_publisher" name="static_map_broadcaster"  args="-621 -167 0 0 0 0 robot_map robot_odom 100" />
<node pkg="tf" type="static_transform_publisher" name="static_map_broadcaster1" args="-621 -167 0 0 0 0 robot_b_map robot_b_odom 100" />
<node pkg="tf" type="static_transform_publisher" name="static_map_broadcaster2" args="-621 -167 0 0 0 0 robot_c_map robot_c_odom 100" />
<node pkg="tf" type="static_transform_publisher" name="static_map_broadcaster3" args="-621  -167 0 0 0 0 robot_d_map robot_d_odom 100" />
	
<node pkg="tf" type="static_transform_publisher" name="static_map_broadcaster4" args="0 0 0 0 0 0 robot_map robot_b_map 100" />
<node pkg="tf" type="static_transform_publisher" name="static_map_broadcaster5" args="0 0 0 0 0 0 robot_map robot_c_map 100" />
<node pkg="tf" type="static_transform_publisher" name="static_map_broadcaster6" args="0 0 0 0 0 0 robot_map robot_d_map 100" />

	
	
</launch>
